@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: rgb(224, 124, 23);
  --primary-color-hover: rgb(190, 120, 34);
} */
 :root {
  --background: #ffffff;
  --foreground: #171717;
  /* Orange Color Palette */
  --orange-50: #FFF7ED;
  --orange-100: #FFEDD5;
  --orange-200: #FED7AA;
  --orange-300: #FDBA74;
  --orange-400: #FB923C;
  --orange-500: #F97316;
  /* Primary Orange */
  --orange-600: #EA580C;
  --orange-700: #C2410C;
  --orange-800: #9A3412;
  --orange-900: #7C2D12;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--orange-500);
  --color-primary-hover: var(--orange-600);
  --color-primary-active: var(--orange-700);

  --color-primary-light: var(--orange-100);
  --color-primary-lighter: var(--orange-50);

  --color-text-on-primary: #FFFFFF;
  --color-primary-shadow: var(--color-orange-300)
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
